<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            <h1><a href=/>sagan.onroids.com</a></h1>
            <iframe width="853.33" height="480" src="https://www.youtube.com/embed/0SGa1JLXMao" frameborder="0" allowfullscreen></iframe>
            <div class="videos">
                <a href="https://www.youtube.com/watch?v=0SGa1JLXMao">
                    <img alt="Sagan on Shotgun" src="http://img.youtube.com/vi/0SGa1JLXMao/mqdefault.jpg">
                </a>
                <a href="https://www.youtube.com/watch?v=RNJwsTCLC7Q">
                    <img alt="Sagan on Shotgun 2" src="http://img.youtube.com/vi/RNJwsTCLC7Q/mqdefault.jpg">
                </a>
                <a href="https://www.youtube.com/watch?v=Ri81iyuYI5o">
                    <img alt="Sagan on Slo-Mo" src="http://img.youtube.com/vi/Ri81iyuYI5o/mqdefault.jpg">
                </a>
                <a href="https://www.youtube.com/watch?v=BLAij0UoW1c">
                    <img alt="Bulls on Roids" src="http://img.youtube.com/vi/BLAij0UoW1c/mqdefault.jpg">
                </a>
                <a href="https://www.youtube.com/watch?v=_X_dtodfkM0">
                    <img alt="Where's Your Head At?" src="http://img.youtube.com/vi/_X_dtodfkM0/mqdefault.jpg">
                </a>
                <a href="https://www.youtube.com/watch?v=V9oplp4MDr4">
                    <img alt="Killing Strangers" src="http://img.youtube.com/vi/V9oplp4MDr4/mqdefault.jpg">
                </a>
            </div>
        </div>
        {{ with .Site.Params.googleAnalytics }}
            <script>
                window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
                ga('create','{{.}}','auto');ga('send','pageview')
            </script>
            <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        {{ end }}
    </body>
</html>
